@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-slate-950 text-slate-50 font-sans antialiased min-h-screen;
}

#root {
  @apply min-h-screen;
}
